.header__lang-link {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* экран 320px */
@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
