.photo-grid {
  display: grid;
  max-width: 1184px;
  max-height: 671px;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
  margin: auto;
  padding: 0;
  gap: 16px;
}
