.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
}

/* экран 320px */
@media screen and (max-width: 720px) {
  .footer-menu {
    flex-direction: column;
    width: 288px;
    font-size: 24px;
    line-height: 24px;
    gap: 32px;
  }
}
