.cover_background {
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 1184px 740px;
    width: 1184px;
    max-height: 740px;
    position: relative;
}

.cover_background::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
  }
  
  .cover_background:hover::before {
    opacity: 0.8;
  }

/* экран 1024 */
@media screen and (max-width: 1184px) {
  .cover_background {
    background-size: 1024px 640px;
    max-width: 1024px;
    max-height: 640px;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .cover_background {
    background-size: 768px 480px;
    max-width: 768px;
    max-height: 480px;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .cover_background {
    background-size: 320px 200px;
    width: 320px;
    min-height: 200px;
  }
}
