.lead__image {
  margin: 0;
  padding: 0;
  max-width: 984px;
  max-height: 615px;
}

/* экран 1024 */
@media screen and (max-width: 1184px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .lead__image {
    width: 100%;
    min-height: 480px;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .lead__image {
    width: 320px;
    min-height: 200px;
  }
}
