.intro {
  width: 984px;
  padding: 0;
  margin: 92px 0 92px 0;
}

/* экран 1024 */
@media screen and (max-width: 1184px) {
  .intro {
  width: 928px;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .intro {
    width: 720px;
    margin: 88px auto 88px auto;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .intro {
    width: 288px;
    margin: 64px 0 64px 0;
  }
}
