.cover {
  padding: 0;
  margin: 92px auto 92px auto;
  max-width: 1184px;
}

/* экран 1024 */
@media screen and (max-width: 1184px) {
  .cover {
  width: 100%;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .cover {
    margin: 90px auto 88px auto;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .cover {
    margin: 66px auto 64px auto;
  }
}
