.header__lang-list {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-between;
    flex-direction: ;
    width: calc(28px * 2 + 18px);
    padding: 0;
    margin: 0 0 6px 0;
    list-style-type: none;
    color: #FFFFFF;
}
