.cover__overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  color: #ffff;
  text-decoration: none;
}

/* экран 1024 */
@media screen and (max-width: 1184px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
