.lead__caption {
  padding: 0;
  margin: 8px 0 0 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  width: 984px;
}

@media screen and (max-width: 1184px) {
  .lead__caption {
    width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .lead__caption {
    width: 768px;
    padding-left: 24px;
  }
}

/* экран 320px */
@media screen and (max-width: 720px) {
  .lead__caption {
    width: 320px;
    padding-left: 18px;
  }
}