.cover__title {
  margin: auto auto 0 auto;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  height: 152px;
  text-align: center;
  font-family: 'Inter-Black', Arial, sans-serif;
}

/* экран 320px */
@media screen and (max-width: 720px) {
  .cover__title {
    margin: auto auto 0 auto;
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    height: 70px;
    font-family: 'Inter', Arial, sans-serif;
  }
}
