.footer {
  margin: 0 0 24px 0;
  display: flex;
  justify-content: space-between;
  width: 1184px;
  height: 18px;
}
/* экран 1024 */
@media screen and (max-width: 1184px) {
  .footer {
    width: 928px;
  }
}
/* экран 768px */
@media screen and (max-width: 928px) {
  .footer {
    width: 720px;
  }
}
/* экран 320px */
@media screen and (max-width: 720px) {
  .footer {
    width: 304px;
    height: 310px;
    flex-direction: column;
    margin-left: 0 auto;
  }
}
